language: d

dist: xenial

d:
  - dmd-2.087.1 # 2.087.0 has regressions
  - dmd-2.086.1
  - ldc-1.16.0     # Older version don't work
  - dmd-nightly   # Nightlies at the end so that `fast_finish` is useful
  - ldc-latest-ci # The freshest LDC

os:
  - linux
  - osx

matrix:
  allow_failures:
    - d: dmd-nightly
    - d: ldc-latest-ci
  fast_finish: true
  include:
    - d: dmd
      services: docker
      script:   ./ci/travis_system_integration.sh

# `brew install` is the slowest thing ever on OSX
# It takes at least 6 minutes to run
# Note: The cache should be cleaned up from time to time,
# as older packages will persist, but given the frequency
# of release this is not an immediate concern
cache:
  directories:
    - $HOME/Dependencies/

# We need a fairly recent compiler for SCP
# Namely one with N4387 fixed
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - libsodium-dev
      - g++-9
      - libsqlite3-dev

env:
  - PATH=$HOME/bin/:$PATH PKG_CONFIG_PATH="/usr/local/opt/sqlite/lib/pkgconfig"

# A note about OSX:
# Homebrew uses a massive git repository, that gets updated very frequently.
# This leads to homebrew taking forever to update its package definition on
# every single CI run.
# It also means a new release of libsodium could potentially break our build.
# As a result, instead of relying on the Homebrew-provided formula,
# the bottle used had been extracted, and is force-fed to brew.
before_install:
  - if [ "$TRAVIS_OS_NAME" = "osx" ];   then ./ci/travis_osx_setup.sh; fi
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then ./ci/travis_linux_setup.sh; fi

script:
  - ./ci/run.sh

after_success:
 - bash <(curl -s https://codecov.io/bash) -cF unittests
