language: d

dist: xenial

d:
  - dmd-2.087.1 # 2.087.0 has regressions
  - dmd-2.086.1
  - ldc-1.16.0     # Older version don't work
  - dmd-nightly   # Nightlies at the end so that `fast_finish` is useful
  - ldc-latest-ci # The freshest LDC

os:
  - linux
  - osx

matrix:
  allow_failures:
    - d: dmd-nightly
    - d: ldc-latest-ci
  fast_finish: true

# `brew install` is the slowest thing ever on OSX
# It takes at least 6 minutes to run
# Note: The cache should be cleaned up from time to time,
# as older packages will persist, but given the frequency
# of release this is not an immediate concern
cache:
  directories:
    - $HOME/Library/Caches/Homebrew
    - /usr/local/Homebrew

# We need a fairly recent compiler for SCP
# Namely one with N4387 fixed
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - libsodium-dev
      - g++-9
      - libsqlite3-dev

env:
  - PATH=$HOME/bin/:$PATH; export PKG_CONFIG_PATH="/usr/local/opt/sqlite/lib/pkgconfig"

# No way to install the apt package, so...
before_install:
  - if [ "$TRAVIS_OS_NAME" = "osx" ];   then brew install libsodium; fi
  - if [ "$TRAVIS_OS_NAME" = "osx" ];   then brew install sqlite3; fi
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then mkdir -p $HOME/bin/; fi
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then ln -s `which gcc-9` $HOME/bin/gcc; fi # /usr/bin/gcc-9
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then ln -s `which g++-9` $HOME/bin/g++; fi # /usr/bin/g++-9

script:
  - dub test -b unittest-cov --skip-registry=all --compiler=${DC}
  - dub build --skip-registry=all --compiler=${DC}

after_success:
 - bash <(curl -s https://codecov.io/bash) -cF unittests
