language: d

# Trusty is Travis' default but reached EOL 2019-04-30
dist: xenial

# I gave up trying to install libsodium
sudo: required

# We need a fairly recent compiler for SCP
# Namely one with N4387 fixed
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - libsodium-dev
      - g++-9

env:
  - PATH=$HOME/bin/:$PATH

# No way to install the apt package, so...
before_install:
  - apt search libsodium
  - mkdir -p $HOME/bin/
  - ln -s `which gcc-9` $HOME/bin/gcc # /usr/bin/gcc-9
  - ln -s `which g++-9` $HOME/bin/g++ # /usr/bin/g++-9

script:
  - dub test --compiler=${DC}

# Latest version of DMD/GDC/LDC
matrix:
  include:
    - d: dmd
    - d: ldc
    - addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - libsodium-dev
            - gdc-9
      env: DC=gdc-9 PATH=$HOME/bin/:$PATH
