@import "base.scss";

.configPage {
  background-color: $color1;

  @media (min-width: $minMediaXS) {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 4;

    &:not(.hidden) {
      @include animation-name(showFrame);
      @include animation-duration($animateEl);
      @include animation-fill-mode(forwards);
    }

    &.hidden {
      @include animation-name(hideFrame);
      @include animation-duration($animateEl);
      @include animation-fill-mode(forwards);
    }
  }

  @media (max-width: $maxMediaXS) {
    &:not(.hidden) {
      position: relative;
      z-index: 4;
      height: initial;
      @include animation-name(showUpStepsFrame);
      @include animation-duration($animateSteps);
      @include animation-fill-mode(forwards);
      @include animation-timing-function(ease);
    }

    &.hidden {
      position: absolute;
      top: 0px;
      z-index: 4;
      @include animation-name(hideDownStepsFrame);
      @include animation-duration($animateSteps);
      @include animation-fill-mode(forwards);
      @include animation-timing-function(ease);
    }
  }

  .configPageInner {
    @media (min-width: $minMediaXS) {
      display: flex;
      // min-width: 1200px;
    }

    @media (max-width: $maxMediaMD) {
      min-height: 100vh;
    }

    .container_leftSide {
      background-color: $color-white;

      @media (min-width: $minMediaXS) {
        width: 400px;
        padding: 0px 60px;
        position: relative;
        height: 100vh;
        // min-height: 900px;
      }

      @media (max-width: $maxMediaMD) and (min-width: $minMediaXS) {
        width: 300px;
        padding: 0px 30px;
      }

      @media (max-width: $maxMediaXS) {
        width: 100%;
        height: initial;
        min-height: initial;
        padding: 48px 36px 40px;
      }

      .container_title {
        margin-top: 96px;

        @media (max-width: $maxMediaMD) {
          margin-top: 50px;
        }
        @media (max-width: $maxMediaXS) {
          margin-top: 61px;
          @include animation-name(slideUpOnViewTitle);
          @include animation-duration(1s);
          @include animation-fill-mode(forwards);
          @include animation-timing-function(ease);
        }
      }

      .container_description {
        margin-top: 16px;

        @media (max-width: $maxMediaXS) {
          max-width: 300px;
          margin-top: 6px;
          @include animation-name(slideUpOnViewDescription);
          @include animation-duration(0.9s);
          @include animation-fill-mode(forwards);
          @include animation-timing-function(ease);
        }
      }

      .container_stepsMenu {
        margin-top: 28px;

        @media (max-width: $maxMediaXS) {
          @include animation-name(slideUpOnViewStepsMenu);
          @include animation-duration(1s);
          @include animation-fill-mode(forwards);
          @include animation-timing-function(ease);
        }
      }

      .container_logo {
        position: absolute;
        left: 60px;
        bottom: 48px;
        @include font(2.4rem, 1, $color-primary, null, null);

        @media (max-width: $maxMediaXS) {
          // position: fixed;
          bottom: auto;
          top: 48px;
          left: 36px;
          @include font(1.87rem, 1, $color-primary, null, null);
        }

        @media (max-width: $maxMediaMD) and (min-width: $minMediaXS) {
          left: 30px;
          bottom: 30px;
        }
      }
    }

    .container_rightSide {
      @media (min-width: $minMediaXS) {
        width: calc(100% - 400px);
        height: 100vh;
        // min-height: 900px;
        display: flex;
        justify-content: flex-start;
        // align-items: center;
        align-items: flex-start;
        padding-left: 160px;
        padding-right: 60px;
        overflow: auto;
      }

      @media (max-width: $maxMediaMD) and (min-width: $minMediaXS) {
        padding-left: 40px;
        padding-right: 40px;
        width: calc(100% - 300px);
      }

      @media (max-width: $maxMediaXS) {
        padding-left: 0px;
        padding-right: 0px;
      }

      overflow: hidden;

      .container_rightSideInner {
        position: relative;

        @media (min-width: $minMediaXS) {
          width: 100%;
          max-width: 720px;
          min-height: 500px;
          min-height: 100vh;
        }

        @media (max-width: $maxMediaXS) {
          min-height: 500px;
          overflow: hidden;
          @include animation-name(slideUpOnViewInner);
          @include animation-duration(1s);
          @include animation-fill-mode(forwards);
          @include animation-timing-function(ease);
        }
      }

      .container_controlsMobile {
        @media (max-width: $maxMediaXS) {
          overflow: hidden;
          position: relative;
          z-index: 4;
          width: 100%;
          height: 66px;
          background-color: $color1;

          .container_controlsMobileInner {
            @include animation-name(slideUpOnViewInnerButtons);
            @include animation-duration(1.3s);
            @include animation-fill-mode(forwards);
            @include animation-timing-function(ease);
          }
        }
      }
    }
  }
}
