@import "./../../base.scss";

.intro {
  display: flex;
  position: relative;
  background-color: $color-white;
  z-index: 4;

  @media (min-width: $minMediaXS) {

    &:not(.hidden) {
      @include animation-name(showFrame);
      @include animation-duration($animateEl);
      @include animation-fill-mode(forwards);
    }

    &.hidden {
      @include animation-name(hideFrame);
      @include animation-duration($animateEl);
      @include animation-fill-mode(forwards);
    }
  }

  @media (max-width: $maxMediaXS) {

    &:not(.hidden) {
      @include animation-name(showDownPreviewFrame);
      @include animation-duration($animateSteps);
      @include animation-fill-mode(forwards);
      @include animation-timing-function(ease);

      .introInner {

        .container_sideLeft {
          @include animation-name(slideUpPreviewMainBanner);
          @include animation-duration(1.3s);
          @include animation-fill-mode(forwards);
          @include animation-timing-function(ease);
        }

        .container_sideRight {

          .container_secondTitle {
            @include animation-name(slideUpPreviewTitle);
            @include animation-duration(1.3s);
            @include animation-fill-mode(forwards);
            @include animation-timing-function(ease);
          }

          .container_content {
            @include animation-name(slideUpPreviewText);
            @include animation-duration(1.3s);
            @include animation-fill-mode(forwards);
            @include animation-timing-function(ease);
          }

          .container_nextButton {
            @include animation-name(slideUpPreviewButton);
            @include animation-duration(1.3s);
            @include animation-fill-mode(forwards);
            @include animation-timing-function(ease);
          }
        }
      }
    }

    &.hidden {
      position: fixed;
      bottom: 0px;
      left: 0px;
      z-index: 5;
      @include animation-name(hideUpPreviewFrame);
      @include animation-duration($animateSteps);
      @include animation-fill-mode(forwards);
      @include animation-timing-function(ease);

      .introInner {

        .container_sideRight {

          .container_secondTitle {
            @include animation-name(slideDownOnHidePreviewTitle);
            @include animation-duration(1s);
            @include animation-fill-mode(forwards);
            @include animation-timing-function(ease);
          }

          .container_content {
            @include animation-name(slideDownOnHidePreviewText);
            @include animation-duration(1s);
            @include animation-fill-mode(forwards);
            @include animation-timing-function(ease);
          }

          .container_nextButton {
            @include animation-name(slideDownOnHidePreviewButton);
            @include animation-duration(1s);
            @include animation-fill-mode(forwards);
            @include animation-timing-function(ease);
          }
        }
      }
    }
  }

  .introInner {
    display: flex;
    width: 100%;

    @media (min-width: $minMediaMD) {
      min-width: 1200px;
    }

    @media (max-width: $maxMediaXS) {
      display: block;
      min-height: 100vh;
      min-width: 100%;
    }

    .container_sideLeft {
      background-image: url(/assets/img/main_background.svg);
      @include back-img(inherit, right top, no-repeat);
      display: flex;
      justify-content: flex-end;

      @media (min-width: $minMediaMD) {
        width: 50%;
        min-height: 770px;
        height: 100vh;
      }

      @media (max-width: $maxMediaMD) and (min-width: $minMediaXS) {
        width: 400px;
        min-height: 100vh;
      }

      @media (max-width: $maxMediaXS) {
        width: 100%;
        height: auto;
        min-height: auto;
        display: block;
        background-image: url(/assets/img/index-back.svg);
        @include back-img(cover, left bottom, no-repeat);
      }

      .sideLeftContainer {
        width: 100%;
        max-width: 720px;
        position: relative;
        padding: 0px 60px;

        @media (max-width: $maxMediaMD) and (min-width: $minMediaXS) {
          padding: 0px 30px;
        }

        @media (max-width: $maxMediaXS) {
          padding: 0px 36px;
          min-height: 460px;
          @include transition(min-height 0.2s);
        }
      }

      .container_mainTitle {
        padding-top: 180px;
        color: $color-white;

        @media (max-width: $maxMediaMD) and (min-width: $minMediaXS) {
          padding-top: 60px;
        }

        @media (max-width: $maxMediaXS) {
          padding-top: 73px;
        }
      }

      .container_logo {
        position: absolute;
        bottom: 60px;
        left: 60px;
        @include font(2.4rem, 1, $color-white, null, null);

        @media (max-width: $maxMediaXS) {
          left: 36px;
          bottom: 27px;
          @include font(1.87rem, 1, $color-white, null, null);
        }
      }
    }

    .container_sideRight {
      @media (min-width: $minMediaMD) {
        width: 50%;
        min-height: 770px;
      }

      @media (max-width: $maxMediaMD) and (min-width: $minMediaXS) {
        width: calc(100% - 400px);
      }

      @media (max-width: $maxMediaXS) {
        width: 100%;
        height: auto;
        min-height: auto;
      }

      .sideRightContainer {
        width: 100%;
        max-width: 720px;
        position: relative;
        padding: 0px 83px 0px 100px;

        @media (max-width: $maxMediaMD) and (min-width: $minMediaXS) {
          padding: 0px 40px 50px 40px;
        }

        @media (max-width: $maxMediaXS) {
          padding: 48px 36px;
        }
      }

      .container_secondTitle {
        margin-top: calc(100vh * 0.35);;

        @media (max-width: $maxMediaMD) and (min-width: $minMediaXS) {
          margin-top: 60px;
        }

        @media (max-width: $maxMediaXS) {
          margin-top: 0px;

          [class^='paragraphTitle']{
            @include font(1.4rem, 1.44, $color-black, normal, null);
          }
        }
      }

      .container_content {
        margin-top: 0px;

        @media (max-width: $maxMediaXS) {
          margin-top: 0px;

          [class^='paragraph'] {
            opacity: 0.66;
            @include font(1rem, 1.8, $color-black, normal, null);
          }
        }
      }

      .container_nextButton {
        margin-top: 112px;
        display: table;

        @media (max-width: $maxMediaXS) {
          margin-top: 107px;
        }
      }
    }
  }
}
