@import "../base.scss";

@media (max-width: $maxMediaXS) {

  &.ShowPrev {
    position: relative;
    @include animation-name(showPrev);
    @include animation-duration($animateSteps);
    @include animation-fill-mode(forwards);
    @include animation-timing-function(ease);
  }

  &.ShowNext {
    position: relative;
    @include animation-name(showNext);
    @include animation-duration($animateSteps);
    @include animation-fill-mode(forwards);
    @include animation-timing-function(ease);
  }

  &.HideNext {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    @include animation-name(hideNext);
    @include animation-duration($animateSteps);
    @include animation-fill-mode(forwards);
    @include animation-timing-function(ease);
  }

  &.HidePrev {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    @include animation-name(hidePrev);
    @include animation-duration($animateSteps);
    @include animation-fill-mode(forwards);
    @include animation-timing-function(ease);
  }
}

@media (min-width: $minMediaXS) {
  &.IsCurrent {
    @include animation-name(showFrame);
    @include animation-duration($animateEl);
    @include animation-fill-mode(forwards);
  }

  &.IsHidden {
    @include animation-name(hideFrame);
    @include animation-duration($animateEl);
    @include animation-fill-mode(forwards);
  }
}
