################################################################################
## This is a sample, documented configuration file for Agora in YAML format
##
## It is not intended for usage on any network
##
## A node has two interfaces: one for network communication,
## and one for administration.
## The one communicating with the network is public,
## while the administrative is unsecured, disabled by default,
## and should not be exposed to the outside world.
## The administrative one is unsecured and should not be exposed to the outside
## world. It is disabled by default for security purpose.
################################################################################

################################################################################
##                             Network interface                              ##
################################################################################
node:
  # The server can operate in two modes: full node and validator node.
  # The full node does not participate in consensus,
  # it only replicates the state of the blockchain.
  # When validating, the `seed` of an eligible account is required
  # An eligible account has at least 4 units frozen in it
  is_validator: true
  # Minimum number of non-validating nodes to connect to before discovery is
  # considered complete
  min_listeners: 2
  # Maximum number of non-validating nodes to connect to
  max_listeners: 10
  # Address to which we bind
  address: 0.0.0.0 # Any node can bind - default value
  # Port on which we bind
  port:    2826    # 0xB0A, default value
  # Number of seconds to wait between retrying requests (floating-point)
  retry_delay: 1.5
  # This is a randomly generated keypair
  # If this node is not a validator, this will be ignored
  #
  # DO NOT USE THOSE VALUES ANYWHERE
  # Private seed:    SCT4KKJNYLTQO4TVDPVJQZEONTVVW66YLRWAINWI3FZDY7U4JS4JJEI4
  # Public address:  GCOQEOHAUFYUAC6G22FJ3GZRNLGVCCLESEJ2AXBIJ5BJNUVTAERPLRIJ
  seed:    SCT4KKJNYLTQO4TVDPVJQZEONTVVW66YLRWAINWI3FZDY7U4JS4JJEI4
  # Path to the data directory (if the path doesn't exist it will be created)
  data_dir: .cache

################################################################################
##                         Ban manager configuration                          ##
################################################################################
banman:
  # max failed requests until an address is banned
  max_failed_requests: 10
  # the default duration of a ban
  ban_duration: 86400

################################################################################
##                          Administrative interface                          ##
################################################################################
admin:
  enabled: true      # `false` by default
  address: 127.0.0.1 # Private
  port:    2827      # 0xB0B

################################################################################
##                               Node discovery                               ##
##                                                                            ##
## When the network first starts, we need to connect to some peers to learn   ##
## the topology and find a safe intersection to listen to, and, if we are     ##
## a validator, to insert ourselves.                                          ##
################################################################################
network:
  # Supported value: IPv4, IPv6
  - http://192.168.1.42:2828
  - http://192.168.0.44:2828
dns:
  # Supported value: FQDN seed
  - seed.bosagora.io

################################################################################
##                               Quorum slices                                ##
################################################################################
quorum:
  # name of the quorum
  - name: quorum-1
    # threshold as a percentage
    threshold: 66%
    # the list of nodes and sub-quorums in this quorum
    nodes:
      - GBFDLGQQDDE2CAYVELVPXUXR572ZT5EOTMGJQBPTIHSLPEOEZYQQCEWN
      - GBYK4I37MZKLL4A2QS7VJCTDIIJK7UXWQWKXKTQ5WZGT2FPCGIVIQCY5
      # a subquorum is referenced with a $ symbol
      - $quorum-1.1
  - name: quorum-1.1
    threshold: 66%
    nodes:
      - GBFDLGQQDDE2CAYVELVPXUXR572ZT5EOTMGJQBPTIHSLPEOEZYQQCEWN
      - GBYK4I37MZKLL4A2QS7VJCTDIIJK7UXWQWKXKTQ5WZGT2FPCGIVIQCY5
      # references another sub-quorum
      - $quorum-1.1.1
  - name: quorum-1.1.1
    threshold: 66%
    nodes:
      - GBFDLGQQDDE2CAYVELVPXUXR572ZT5EOTMGJQBPTIHSLPEOEZYQQCEWN
      - GBYK4I37MZKLL4A2QS7VJCTDIIJK7UXWQWKXKTQ5WZGT2FPCGIVIQCY5
      - GBYK4I37MZKLL4A2QS7VJCTDIIJK7UXWQWKXKTQ5WZGT2FPCGIVIQCY5

################################################################################
##                               Logging options                              ##
################################################################################
logging:
  # Values: trace, debugV, debug_, diagnostic, info, warn, error, critical, fatal, none (default)
  level: none
