@import "./../../base.scss";

.wrappAdministrativeInterfaceItems {
  .container_interface {
    margin-top: 62px;

    @media (max-width: $maxMediaXS) {
      margin-top: 15px;
    }
  }

  .address {
    margin-top: 38px;
    display: flex;
    justify-content: space-between;

    @media (max-width: $maxMediaXS) {
      margin-top: 43px;
      flex-wrap: wrap;
    }

    .container_address {
      width: calc(100% - 40px - 214px);

      @media (max-width: $maxMediaMD) {
        margin-top: 40px;
      }

      @media (max-width: $maxMediaXS) {
        width: 100%;
      }
    }

    .container_port {
      width: 214px;

      @media (max-width: $maxMediaMD) {
        margin-top: 40px;
      }

      @media (max-width: $maxMediaXS) {
        margin-top: 42px;
        width: 100%;
      }
    }
  }
}
