@import "./../../../base.scss";

.buttonReset {
  cursor: pointer;
  padding: inherit;
  border: inherit;
  background: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}