@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?b3hiyp');
  src:  url('fonts/icomoon.eot?b3hiyp#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?b3hiyp') format('truetype'),
    url('fonts/icomoon.woff?b3hiyp') format('woff'),
    url('fonts/icomoon.svg?b3hiyp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-arrow-left:before {
  content: "\e903";
}
.icon-logo-old:before {
  content: "\e904";
}
.icon-check:before {
  content: "\e905";
}
.icon-close:before {
  content: "\e906";
}
.icon-full-node:before {
  content: "\e907";
}
.icon-question:before {
  content: "\e908";
}
.icon-validator:before {
  content: "\e909";
}
