@import "./../../../base.scss";

.nextDefaultButton {
  @include font(1.4rem, 1.14, null, normal, 0);
  position: relative;
  padding-right: 32px;

  @media (max-width: $maxMediaXS) {
    @include font(1rem, 1.5, null, bold, null);
  }


  .container_icon {
    @include font(0.8rem, 1, null, null, null);
    width: 0.8rem;
    position: absolute;
    top: 50%;
    margin-top: -0.4rem;
    right: -2px;
    @include transition(left $animateEl);

    @media (max-width: $maxMediaXS) {
      margin-top: -0.35rem;
      width: 0.7rem;
      @include font(0.7rem, 1, null, null, null);
    }
  }
}