@import "./../../../base.scss";

.paragraph {
  opacity: 0.66;
  @include font(1rem, 1.5, $color-black, normal, null);

  &+.paragraph {
    margin-top: 20px;

    @media (max-width: $maxMediaXS) {
      margin-top: 23px;
    }
  }
}