@import "base.scss";

.wrapValidatorContent {
  .chooseTypeValidator {
    display: flex;
    justify-content: flex-start;

    @media (max-width: $maxMediaXS) {
      display: block;
    }
  }

  .container_typeValidator {
    margin-top: 48px;


    @media (max-width: $maxMediaMD) {
      margin-top: 40px;
    }

    @media (max-width: $maxMediaXS) {
      margin-top: 16px;
    }
  }

  .container_validatorInput {
    margin-top: 80px;


    @media (max-width: $maxMediaMD) {
      margin-top: 40px;
    }

    @media (max-width: $maxMediaXS) {
      margin-top: 28px;
    }
  }
}
