name: PR
on: [pull_request]

jobs:
  test_mac:
    name: MacOS
    strategy:
      matrix:
        os: [macos-10.15]
        dc: [dmd-2.090.1, ldc-1.19.0, ldc-1.20.0]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
        persist-credentials: false
    - name: Prepare compiler
      uses: mihails-strasuns/setup-dlang@v0.5.0
      with:
          compiler: ${{ matrix.dc }}
          gh_token: ${{ secrets.GITHUB_TOKEN }}
    - name: Install dependencies
      run: |
        brew install pkg-config
    - name: Build & test agora
      run: |
        ./ci/ci_osx_setup.sh
        export PATH="${PATH-}:$HOME/bin/"
        export LIBRARY_PATH="${LD_LIBRARY_PATH-}:/usr/local/lib/"
        export PKG_CONFIG_PATH="/usr/local/opt/sqlite/lib/pkgconfig:/usr/local/opt/openssl@1.1/lib/pkgconfig/"
        ./ci/run.sh
    - name: Emit stack trace
      run: |
        ./ci/core-dump.sh
      if: failure()

  linux_build:
    name: Linux
    strategy:
      matrix:
        os: [ubuntu-18.04]
        dc: [dmd-2.090.1, ldc-1.19.0, ldc-1.20.0]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
        persist-credentials: false
    - name: Prepare compiler
      uses: mihails-strasuns/setup-dlang@v0.5.0
      with:
        compiler: ${{ matrix.dc }}
        gh_token: ${{ secrets.GITHUB_TOKEN }}
    - name: Build & test Agora
      run: |
        ./ci/ci_linux_setup.sh
        sudo add-apt-repository ppa:ubuntu-toolchain-r/test
        sudo apt-get update
        sudo apt-get install libsqlite3-dev
        sudo apt-get install libsodium-dev
        sudo apt-get install g++-9
        sudo apt-get install lldb
        ./ci/run.sh
    - name: Emit stack trace
      run: |
        ./ci/core-dump.sh
      if: failure()
